<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
						">
	<!-- Velocity视图解析器配置 start-->
	<bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
	    <property name="cache" value="true" />
	    <property name="prefix" value="velocity" />
	    <property name="suffix" value=".vm" />
	</bean>
	<!-- Velocity视图解析器配置 end -->

	<!-- Velocity环境配置 start-->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
    	<!-- velocity配置文件路径 -->
    	<property name="configLocation" value="classpath:velocity.properties"/>
    	<!-- velocity模板路径 -->
    	<property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
	</bean>
	<!-- Velocity环境配置 end -->
					
</beans>